@use "./abstracts/colors/colors.scss";
@use "./abstracts/variabel/vars.scss";
@use "./abstracts/fonts/fonts.scss";

body {
    background: colors.$zwart;
    padding: 3rem;
    gap: 2rem;
    font-family: fonts.$FontHappiness;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}